resolution   = 640x480
colour_depth = 8

system_font = fonts/helv15
fixed_font  = fonts/cour14

desktop_colour = 0,51,102
system_colour = 190,230,255
title_bar_colour = 255,153,102
highlight_colour = 25

# Try this if you're having sound problems.
#sound_card = SBPRO
mixing_rate = 22050
